name: Testing

defaults:
  run:
    shell: bash

on: [push, pull_request]
jobs:
  test:
    timeout-minutes: 360
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ghc: ['8.10.2', '8.8.4', '8.6.5', '8.4.4', '8.2.2', '9.0.1']

    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: '3.2'

    - run: cabal update
    - run: cabal freeze

    - name: Cache Cabal
      uses: actions/cache@v2
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          ~/.hlint
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}

    - run: rm cabal.project.freeze

    - name: Build without tests and benchmarks
      run: cabal build --disable-tests --disable-benchmarks

    - name: Build with tests and benchmarks
      run: cabal build --enable-tests --enable-benchmarks

    - name: Test
      run: cabal test --enable-tests --enable-benchmarks

    - name: Haddock
      run: cabal haddock
